<?xml version="1.0"?>
<config>
 <modules>
        <Betaout_Amplify>
            <version>2.2.5</version>
        </Betaout_Amplify>
    </modules>
    <global>
        
        <helpers>
            <betaout_amplify>
                <class>Betaout_Amplify_Helper</class>
            </betaout_amplify>
        </helpers> 

        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <amplify_add_to_cart>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventAddToCart</method>
                    </amplify_add_to_cart>
                </observers>
            </checkout_cart_add_product_complete> 
            <sales_order_item_cancel>
                <observers>
                    <betaout_amplify_sales_order_item_cancel>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyCancelOrderItem</method>
                    </betaout_amplify_sales_order_item_cancel>
                </observers>
            </sales_order_item_cancel>
            <order_cancel_after>
                <observers>
                    <betaout_amplify_order_cancel_after>
                       <class>Betaout_Amplify_Model_Key</class>
                       <method>salesOrderPaymentCancel</method>
                    </betaout_amplify_order_cancel_after>
                </observers>
            </order_cancel_after>
            <sales_order_payment_refund>
                <observers>
                    <betaout_amplify_sales_order_payment_refund>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>salesOrderPaymentRefund</method>
                    </betaout_amplify_sales_order_payment_refund>
                </observers>
           </sales_order_payment_refund>
            <checkout_cart_update_items_after>
                <observers>
                    <betaout_amplify_checkout_cart_update_items_after>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplify_cartUpdate</method>
                    </betaout_amplify_checkout_cart_update_items_after>
                </observers>
            </checkout_cart_update_items_after>
           <customer_address_save_before>
                <observers>
                    <customer_address_before_save>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyCustomerAdressSaveAfter</method>
                    </customer_address_before_save>
                </observers>
            </customer_address_save_before>
           <customer_register_success>
                <observers>
                    <amplify_customer_register_success>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventCustomerRegisterSuccess</method>
                    </amplify_customer_register_success>
                </observers>
            </customer_register_success>
            <admin_system_config_changed_section_betaout_amplify_options>
                <observers>
                    <yourmodule>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyConfigChangeObserver</method>
                    </yourmodule>
                </observers>
            </admin_system_config_changed_section_betaout_amplify_options>
            <checkout_onepage_controller_success_action>
                <observers>
                    <amplify_order_success>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyOrderSuccessPageView</method>
                    </amplify_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
            <observers>
              <points_observer>
                <type>singleton</type>
                <class>Betaout_Amplify_Model_Key</class>
                <method>getAmplifyOrderSuccessPageView</method>
              </points_observer>
            </observers>
          </checkout_multishipping_controller_success_action>
            <checkout_type_onepage_save_order_after>
                  <observers>
                      <amplify_save_order_observer>
                           <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyOrderSaveSuccess</method>
                      </amplify_save_order_observer>
                   </observers>
            </checkout_type_onepage_save_order_after>
        </events>
      
    </global>   
     <adminhtml>
        <events>
            <catalog_product_save_before><!-- observe the event -->
                <observers>
                    <amplify>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyCatalog_product_save_after</method>
                    </amplify>
                </observers>
            </catalog_product_save_before>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <amplify>
                <use>standard</use>
                <args>
                    <module>Betaout_Amplify</module>
                    <frontName>betaoutanalytics</frontName>
                </args>
            </amplify>
        </routers>
        <layout>
            <updates>
                <betaout_amplify module="Betaout_Amplify">
                    <file>betaout_amplify.xml</file>
                </betaout_amplify>
            </updates>
        </layout>
        <events>
            
            <sales_quote_remove_item>
                <observers>
                    <sales_quote_remove_item>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventRemoveFromCart</method>
                    </sales_quote_remove_item>
                </observers>
            </sales_quote_remove_item>
            <customer_logout>
                <observers>
                    <amplify_customer_logout>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventCustomerLogout</method>
                    </amplify_customer_logout>
                </observers>
            </customer_logout>
            <customer_login>
                <observers>
                    <amplify_customer_login>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventCustomerLogin</method>
                    </amplify_customer_login>
                </observers>
            </customer_login>
            <customer_save_commit_after>
                <observers>
                    <amplify_customer_save>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getamplifyEventCustomerSave</method>
                    </amplify_customer_save>
                </observers>
            </customer_save_commit_after>
            <sales_order_place_after><!--could used sales_order_save_after for backend support, but it fires mulitple times-->
                <observers>
                    <amplify_order_save>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventOrder</method>
                    </amplify_order_save>
                </observers>
            </sales_order_place_after>
           
            
            <controller_action_predispatch_checkout_cart_couponPost>
                <observers>
                    <amplify_add_coupon_from_cart>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventCoupon</method>
                    </amplify_add_coupon_from_cart>
                </observers>
            </controller_action_predispatch_checkout_cart_couponPost>
            <controller_action_predispatch_onestepcheckout_index_add_coupon>
                <observers>
                    <amplify_add_coupon>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventCoupon</method>
                    </amplify_add_coupon>
                </observers>
            </controller_action_predispatch_onestepcheckout_index_add_coupon>
            <newsletter_subscriber_save_before>
                <observers>
                    <amplify_newsletter_subscribe>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventNewsletter</method>
                    </amplify_newsletter_subscribe>
                </observers>
            </newsletter_subscriber_save_before>
            <review_controller_product_init_after>
                <observers>
                    <amplify_product_review>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventReview</method>
                    </amplify_product_review>
                </observers>
            </review_controller_product_init_after>
            <wishlist_add_product>
                <observers>
                    <amplify_wishlist_add_product >
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventWishlist</method>
                    </amplify_wishlist_add_product >
                </observers>
            </wishlist_add_product>
          <checkout_allow_guest>
                <observers>
                    <amplify_checkout_allow_guest>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplify_checkout_allow_guest</method>
                    </amplify_checkout_allow_guest>
                </observers>
            </checkout_allow_guest>
            <catalog_controller_product_view>
                <observers>
                    <catalogProductView>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyCatalogProductView</method>
                    </catalogProductView>
                </observers>
            </catalog_controller_product_view>
         </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Betaout_Amplify before="Mage_Adminhtml">Betaout_Amplify_Adminhtml</Betaout_Amplify>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <betaout_amplify_options>
                                            <title>Amplify Settings</title>
                                        </betaout_amplify_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
               
            </resources>
        </acl>
    </adminhtml>
</config>